{% extends 'base.html' %}

{% block title%}Question{% endblock %}

{% block main_content %}
<h1>Question {{quest_num}}</h1>

<p>{{question}}</p>

<form action="/answers" method="POST">
    <label for="form-question">Your Answer:</label>
    {% if choices %}
        {% for choice in choices %}
        <label for="{{choice}}">{{choice}}</label>
        <input value={{choice}} type="radio" name="form-answer">
        {% endfor%}
    {% else %}
    <input id="form-question" type="text" name="form-answer">
    {% endif %}

    <button>Submit Answer</button>
</form>

{% endblock %}